<div [formGroup]="form">
  <div [formArrayName]="field.shortName" *ngFor="let cd of formArray.controls ;let i=index;">
    <div [formGroupName]="i">
      <div class="ui-inputgroup">
        <input type="text" (input)="onSearch($event.target.value)" class="form-control  form-control-sm" pInputText placeholder="Select" formControlName="name">
        <button pButton type="button" icon="pi pi-refresh" (click)="toggle($event,field.shortName)"
          class="ui-button-warn"></button>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="show" [style]="{width: '500px', height: '300px'}" 
[minY]="70" [contentStyle]="{'overflow':'visible'}" [modal]="true" [responsive]="true">
    <p-table #lookupTable  [scrollable]="true" scrollHeight="300px" 
    selectionMode="single" (onRowSelect)="onRowSelect($event)"
    [columns]="lookupColumnList" [value]="filterData">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.columnName}}
        </th>
      </tr>
      <tr>
      <th *ngFor="let col of columns"  >
          <input pInputText type="text" (input)="lookupTable.filter($event.target.value, camalCase(col.columnName), col.filterMatchMode)">
      </th>
    </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[camalCase(col.columnName)]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
   
    </p-dialog>
    