<div class="col-sm-12" style="padding:0px;">
    <p-panel [styleClass]="'panelStyle'"  [toggleable]="false" >
    <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title" >UserDetails</span>
            </div>
    </p-header>
    <div class="box-body">
    <form [formGroup]="userForm" #formDir="ngForm" (ngSubmit)="userForm.valid && submit(userForm)"
          novalidate>
            
                <!-- <p-scrollPanel [styleClass]="'scrollStyle'"> -->
                    <div class="form-row">       
                      
                            <div class="form-group col-sm-4">
                                <label>{{'data.lblSsoCon' | translate}}</label>
                              
                                    <select formControlName="sso" class="form-control form-control-sm">
                                        <option value="1">{{'data.optionYes' | translate}}</option>
                                        <option value="0">{{'data.optionNo' | translate}}</option>
                                    </select>
                               
                            </div>
                            <div class="form-group col-sm-4"
                                [ngClass]="{'has-error': (userForm.get('firstName').invalid && formDir.submitted) }">
                                <label >
                                    {{(userForm.get('sso').value == 0 ? 'data.lblUserName' : 'data.lblSgid') | translate}}
                                </label>
                                    <div class="input-group  col-md-12" style="padding: 0px">
                                        <input pInputText type="text" name="username1" formControlName="username"
                                            class="form-control form-control-sm" />
                                        <span class="input-group-btn">
                                            <button [disabled]="userForm.get('sso').value == 0?true:false"
                                                class="btn btn-default" (click)="LdapSearch()" type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                
                            </div>
                            <div class="form-group col-sm-4"
                                [ngClass]="{'has-error': (userForm.get('firstName').invalid && formDir.submitted) }">
                                <label class="control-label">
                                    {{'data.lblFirstName' | translate}}
                                </label>
                                <div>
                                    <input name="firstname" pInputText type="text" formControlName="firstName"
                                        class="form-control form-control-sm"
                                        [readonly]="userForm.get('sso').value == 0?false:true" />
                                </div>
                            </div>
                            <div class="form-group col-sm-4"
                                [ngClass]="{'has-error': (userForm.get('lastName').invalid && formDir.submitted) }">
                                <label class="control-label">
                                    {{'data.lblLastName' | translate}}
                                </label>
                                <div>
                                    <input name="lastname" pInputText type="text" formControlName="lastName"
                                        class="form-control form-control-sm"
                                        [readonly]="userForm.get('sso').value == 0?false:true" />
                                </div>
                            </div>
                            <div class="form-group col-sm-4"
                                [ngClass]="{'has-error': (userForm.get('email').invalid && formDir.submitted) }">
                                <label class="control-label">
                                    {{'data.lblEmail' | translate}}
                                </label>
                                <div>
                                    <input name="email" pInputText type="email" formControlName="email"
                                        class="form-control form-control-sm"
                                        [readonly]="userForm.get('sso').value == 0?false:true" />
                                    <span class="help-block"
                                        *ngIf="userForm.get('email').touched  && userForm.get('email').hasError('email')">{{loc.invalidEmail}}</span>
                                </div>
                            </div>
                            <div class="form-group col-sm-4"
                                [ngClass]="{'has-error': (userForm.get('languageId').invalid && formDir.submitted) }">
                                 <app-localization [form]="userForm"  [multiselect]="false"></app-localization>  
                                 
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">{{'data.lblManager' | translate}}</label>
                                <div>
                                    <select name="managerName" formControlName="managerId" class="form-control form-control-sm">
                                        <option value="">-- {{'data.lblManager' | translate}} --</option>
                                        <option *ngFor="let manager of managerList" [ngValue]="manager.id">
                                            {{manager.name}}</option>
                                    </select>

                                </div>
                            </div>                            
                            <div class="form-group col-sm-4">
                                <label class="control-label">{{'data.lblRole' | translate}}</label>
                                <div>
                                    <p-multiSelect  [options]="roleList" formControlName="userRights" optionLabel="name"></p-multiSelect>
                                    <!-- <p-pickList [showSourceFilter]="true" [responsive]="true" [source]="roleList"
                                        [target]="selectedRoleList" filterBy="name" [showSourceControls]="false"
                                        [showTargetControls]="false">
                                        <ng-template let-role pTemplate="item">
                                            <div class="ui-helper-clearfix">
                                                {{role.name}}
                                            </div>
                                        </ng-template>
                                    </p-pickList> -->

                                </div>
                            </div>

                            <div class="form-group col-sm-4">
                                <label class="control-label">{{'data.lblDisabled' | translate}}</label>
                                <div>
                                    <p-inputSwitch   binary="true" formControlName="disabled" ></p-inputSwitch>
                                </div>
                            </div>
                       
                        </div>      
                <!-- </p-scrollPanel> -->
        

        <div class="col-sm-12">
            <a (click)="back()" class="btn btn-default">{{'data.btnBack' | translate}}</a>
            <button pButton type="submit" label="{{'data.btnSave' | translate}}" class="pull-right"></button>
        </div>
    </form>
</div>
</p-panel>
</div>
<app-loader *ngIf="!_userService.isLoading || !_pimService.isLoading" ></app-loader>