
   
<div class="col-md-12" style="padding:0px;">
    <p-panel [styleClass]="'panelStyle'"  [toggleable]="false" >
        <p-header>
                <div class="ui-helper-clearfix">
                    <span class="ui-panel-title" >{{'data.menuUser' | translate}}</span>
                    <button style="float:right" type="button" pButton icon="pi pi-plus" label="{{'data.lblAddUser' | translate}}" (click)="addUser()"></button>
                </div>
        </p-header>
            <div class="example-container">
                <p-table [formGroup]="filterForm"  [value]="userList"  (onLazyLoad)="sorting($event)" [responsive]="true" [scrollable]="true" scrollHeight="50vh"
                 [lazy]="true" [customSort]="true" [rows]="pageSize">
                    <ng-template pTemplate="header">
                        <tr>
                            <th [pSortableColumn]="'firstname'">{{'data.lblFirstName' | translate}}<p-sortIcon [field]="'firstname'" ></p-sortIcon></th>
                            <th [pSortableColumn]="'lastname'">{{'data.lblLastName' | translate}}<p-sortIcon [field]="'lastname'" ></p-sortIcon></th>
                            <th>{{'data.lblEmail' | translate}}</th>
                            <th [pSortableColumn]="'username'">{{'data.lblUserName' | translate}}<p-sortIcon [field]="'username'" ></p-sortIcon></th>
                            <th>{{'data.lblDisabled' | translate}}</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th> <input   pInputText type="text" formControlName="firstname"></th>
                            <th> <input   pInputText type="text" formControlName="lastname"></th>
                            <th></th>
                            <th> <input   pInputText type="text" formControlName="username"></th>
                            <th></th>
                            <th><button pButton type="button" icon="fa fa-search" pTooltip="{{'data.btnSearch' | translate}}"  (click)="filtering()"  ></button></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-user>
                        <tr>
                            <td> <span class="ui-column-title">{{'data.lblFirstName' | translate}}</span>{{user.firstname}}</td>
                            <td><span class="ui-column-title">{{'data.lblLastName' | translate}}</span>{{user.lastname}}</td>
                            <td><span class="ui-column-title">{{'data.lblEmail' | translate}}</span>{{user.email}}</td>
                            <td><span class="ui-column-title">{{'data.lblUserName' | translate}}</span>{{user.username}}</td>
                            <td><span class="ui-column-title">{{'data.lblDisabled' | translate}}</span>{{user.active}}</td>
                            <td>
                                <button type="button" pButton icon="pi pi-pencil" tooltipPosition="top" pTooltip="{{'data.btnEdit' | translate}}"  (click)="editUser(user)"></button>
                                <button type="button" pButton icon="pi pi-cog" tooltipPosition="top" pTooltip="{{'data.lblMenuRights' | translate}}"  (click)="userRoleRights(user.id)"></button>
                                <button type="button" pButton icon="pi pi-trash" tooltipPosition="top" pTooltip="{{'data.btnDelete' | translate}}"  (click)="deleteUser(user)"></button>
                            </td>
                        </tr>
                    </ng-template>
                    
                </p-table>
                <p-paginator [rows]="pageSize" [rowsPerPageOptions]="[10,20,50,100]" [totalRecords]="totalRecords" (onPageChange)="pageChange($event)"></p-paginator>
            </div>
       <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
      </p-panel>
 
</div>
<app-loader *ngIf="!_userService.isLoading" ></app-loader>