<div class="login-box">

    <div class="login-box-body">
        <div class="login-logo">
            <img src="assets/images/pngLogo.png" id="loginLogo" class="img-responsive" alt="Logo">
      <br/>
            <b>{{'data.headerPIM'|translate}}</b>
        </div>
        <p class="login-box-msg">Forgotten password</p>
        <form [formGroup]="recoveryForm" #formDir="ngForm" (ngSubmit)="recoveryForm.valid && submit(recoveryForm)" novalidate>
            <div class="form-group has-feedback" [ngClass]="{'has-error': (recoveryForm.controls.username.invalid && formDir.submitted) }">
                <input formControlName="username" type="text" placeholder="{{'data.lblUserName'|translate}}" class="form-control">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                <span class="help-block" (show)="recoveryForm.controls.username.invalid && formDir.submitted"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <a class="hand" (click)="login()">{{'data.btnCancel'|translate}}</a>
                </div>
                <div class="col-xs-4">
                    <button type="submit" pButton label="{{'data.btnSave'|translate}}"  class="pull-right"></button>
                </div>
            </div>
        </form>
    </div>
</div>
