<div class="col-md-12" style="padding:0px;">
    <p-panel [styleClass]="'panelStyle'"  [toggleable]="false" >
       <p-header>
                  <div class="ui-helper-clearfix">
                      <span class="ui-panel-title" >{{'data.menuOrgChart' | translate}}</span>
                  </div>
       </p-header>

 
          <div class="box-body">
              <!-- <p-organizationChart (contextmenu)="openCm($event, contextMenu)"   [value]="treeData" selectionMode="single" [(selection)]="selectedNode" 
              styleClass="company">
              <ng-template  let-node>
                  <div class="node-header ui-corner-top">
                    {{node.label}}</div>
                
              </ng-template>
          </p-organizationChart>
          <button class="btn btn-default" (click)="contextMenu.show($event);$event.stopPropagation()">Test</button>
          <p-contextMenu #contextMenu [global]="false" [model]="menuItem" appendTo="body"></p-contextMenu> -->
            <div class="tree"> 
                <ul>
                        <ng-template #recursiveList let-list>
                                <li *ngFor="let item of list;let i =index" >
                                 <div  class="hand" [contextMenu]="basicMenu" [contextMenuSubject]="item" id="Organization" >
                                       <span> {{item.longName}}</span> 
                                       <!-- <a  class="downArrow" ><i class="fa fa-chevron-down"></i></a> -->
                                       <!-- <a class="upArrow" ><i class="fa fa-chevron-up"></i></a>
                                       <a class="rightArrow"><i class="fa fa-chevron-right"></i></a>
                                       <a class="leftArrow"><i class="fa fa-chevron-left"></i></a> -->
                                 </div>
                                
                                  <ul *ngIf="item.children.length > 0">
                                    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
                                  </ul>
                                </li>
                              </ng-template>
                              <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: orglist }"></ng-container>     
                            </ul>
                          </div>
          </div> 
      </p-panel>
</div>
   <context-menu class="contextMenu">
      <ng-template contextMenuItem let-item (execute)="addSubSection($event.item.id)">                                            
        {{'data.lblAddsubsection' | translate}} <i class="fa fa-plus pull-right"></i>                                
      </ng-template>
      <ng-template contextMenuItem let-item (execute)="editOrg($event.item.id,$event.item.parentId)">                                            
          {{'data.lbleditOrg' | translate}} <i class="fa fa-edit pull-right"></i>                                
      </ng-template>
      <ng-template contextMenuItem let-item (execute)="deleteOrg($event.item.id)">                                            
        {{'data.lblDeleteOrg' | translate}} <i class="fa fa-trash pull-right"></i>                                
    </ng-template>
  </context-menu>   
 
   