<div class="col-md-12" style="padding:0px;">

   <p-panel header="Dashboard" [styleClass]="'panelStyle'" [toggleable]="true">
      <div class="row box-body">
         <div class="col-md-12">
            <div class="col-md-9">
               <label>Entity Explorer For: <a (click)="changeCatalog()">{{orgName}}>>{{catalogName}} </a></label>
            </div>
            <!-- <div class="col-md-1">
                  <label class="entityHeader">{{loc.lblUILocal}}: {{uiLocalName}}</label>
               </div> -->
            <div class="col-md-3 pull-right">
               <label class="entityHeader">{{todayDate |date:'fullDate' }}</label>
            </div>
         </div>
         <div class="col-md-12">
            <p-carousel headerText="Work Items" numVisible="3" [value]="workflows">
               <ng-template let-item pTemplate="item">
                  <div class="ui-grid ui-grid-responsive">
                     <div class="ui-grid-row">
                        <div class="ui-grid-col-12" ui-knob [value]="item.count" [options]="knOptions"></div>
                     </div>
                     <div class="ui-grid-row">
                        <div class="ui-grid-col-12">{{item.stage}}</div>
                     </div>
                  </div>
               </ng-template>
            </p-carousel>
         </div>
      </div>
   </p-panel>
</div>