<div class="col-md-12" style="padding:0px;">
    <p-panel [styleClass]="'panelStyle'" [toggleable]="false">
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title">{{'data.lblCreateEntity' | translate}}</span>
            </div>
        </p-header>
        <div class="box-body">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-horizontal">
                    <div class=" form-group">
                        <label class="form-control-label col-md-3">{{'data.lblCatalog' | translate}}</label>
                        <div class="col-md-9">
                            <select [(ngModel)]="catalogId" (change)="changeCatalog($event)" class="form-control">
                                <option value="1">NA Master</option>
                                <option value="0">ANZ Master</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div>
                    <form (ngSubmit)="form.valid && onSubmit(this.form)" #formDir="ngForm" [formGroup]="form"
                        class="form-horizontal" novalidate>

                        <div *ngFor="let field of fields">
                            <field-builder [field]="field" [form]="form"></field-builder>
                        </div>
                        <div class="box-footer">
                            <a (click)="back()" class="btn btn-default">{{'data.btnBack' | translate}}</a>
                            <button pButton type="submit" label="{{'data.btnSave' | translate}}"
                                class="pull-right"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </p-panel>
</div>