<div class="col-md-12" style="padding:0px;">
    <p-panel [styleClass]="'panelStyle'" [toggleable]="false">
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title">{{'data.lblAttributeMaster' | translate}}</span>
                <button style="float:right" type="button" pButton icon="pi pi-plus"
                    label="{{'data.lblAddAttribute' | translate}}" [routerLink]="['/createattribute']"></button>
            </div>
        </p-header>
        <div class="row">
            <div class="form-group col-md-12">
                <div class="col-md-4">
                    <select name="attrgroup" #attrgroup [(ngModel)]="attrGroupId" (change)="loadNode(attrgroup.value)"
                        class="form-control form-control-sm">
                        <option [value]="ag.id" *ngFor="let ag of attrGroupList">{{ag.label}}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select name="attrType" #attrType [(ngModel)]="attrTypedId" (change)="nodeSelect(attrType.value)"
                        class="form-control form-control-sm">
                        <option [value]="ag.id" *ngFor="let ag of attrTypeList">{{ag.label}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div *ngIf="showList" class="row" style="margin: 0%">
            <div [formGroup]="filterForm" class="col-md-12">


                <p-table [value]="attributeList"  [responsive]="true" [scrollable]="true" (sortFunction)="sorting($event)"
                    scrollHeight="50vh" [lazy]="true" [customSort]="true" [rows]="pageSize">
                    <ng-template pTemplate="header">
                        <tr>
                            <th [pSortableColumn]="'shortName'">{{'data.lblShortName' | translate}}<p-sortIcon
                                    [field]="'shortName'"></p-sortIcon>
                            </th>
                            <th>{{'data.lblLongName' | translate}}</th>
                            <th>{{'data.lblDataType' | translate}}</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th> <input pInputText type="text" formControlName="shortName"></th>
                            <th></th>
                            <th></th>
                            <th><button pButton type="button" icon="fa fa-search"
                                    pTooltip="{{'data.btnSearch' | translate}}" (click)="filtering()"></button></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-attribute>
                        <tr>
                            <td><span class="ui-column-title">{{'data.lblShortName' | translate}}</span>
                                {{attribute.shortName}}</td>
                            <td><span class="ui-column-title">{{'data.lblLongName' | translate}}</span>
                                {{attribute.longName}}</td>
                            <td><span class="ui-column-title">{{'data.lblDataType' | translate}}</span>
                                {{attribute.dataType}}</td>
                            <td>
                                <button type="button" pButton icon="pi pi-pencil" tooltipPosition="top"
                                    pTooltip="{{'data.btnEdit' | translate}}"
                                    [routerLink]="['/createattribute', attribute.id]"></button>
                                <button type="button" pButton icon="pi pi-trash" tooltipPosition="top"
                                    pTooltip="{{'data.btnDelete' | translate}}"
                                    (click)="deleteAttribute(attribute)"></button>
                                <button type="button" pButton icon="pi pi-plus" tooltipPosition="top"
                                    pTooltip="{{'data.addBr' | translate}}"
                                    [routerLink]="['/attributebr', attribute.id]"></button>
                            </td>
                        </tr>
                    </ng-template>

                </p-table>
                <p-paginator [rows]="pageSize" [rowsPerPageOptions]="[10,20,50,100]" [totalRecords]="totalRecords"
                    (onPageChange)="pageChange($event)"></p-paginator>

            </div>
        </div>
    </p-panel>
</div>