<div class="login-box">
    <div class="login-box-body">
        <div class="login-logo">
            <img src="assets/images/pngLogo.png" id="loginLogo" class="img-responsive" alt="Logo">
      <br/>
            <b>{{'data.headerPIM'|translate}}</b>
        </div>
        <p class="login-box-msg">Change password</p>
        <form [formGroup]="changePasswordForm" #formDir="ngForm" (ngSubmit)="changePasswordForm.valid && submit(changePasswordForm)" class="form-horizontal" novalidate>
            <div class="form-group" [ngClass]="{'has-error': (changePasswordForm.controls.newpassword.invalid && formDir.submitted) }">
                <input formControlName="newpassword" type="password" placeholder="{{'data.lblNewPassword'|translate}}" class="form-control"/>
                       <span class="help-block" *ngIf="changePasswordForm.controls.newpassword.hasError('minlength')">{{'data.alertPasswordLength'|translate}}</span>
                       <span class="help-block" *ngIf="changePasswordForm.controls.newpassword.hasError('pattern')">{{'data.alertPasswordRequirement'|translate}}</span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <a class="hand" (click)="login()">{{'data.btnCancel'|translate}}</a>
                </div>
                <div class="col-xs-4">
                    <button type="submit" pButton label="{{'data.btnSave'|translate}}"  class="pull-right"></button>
                </div>
            </div>
        </form>
    </div>
</div>
