<div class="col-md-12" style="padding:0px;">

  <p-panel header="{{'data.lblSearchCriteria' |translate}}" [styleClass]="'panelStyle'" [toggleable]="true">
    <div class="row box-body">
      <div class="col-md-12">
        <div class="col-md-9">
          <label>Entity Explorer For: <a (click)="changeCatalog()">{{orgName}}>>{{catalogName}} </a></label>
        </div>
        <div class="col-md-3 pull-right">
          <label class="entityHeader">{{todayDate |date:'fullDate' }}</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="col-md-12" style="padding:0px;">
          <p-panel header="{{'data.lblCategory' | translate}}">
            <p-scrollPanel [style]="{width: '100%', height: '154px'}">
              <p-tree [style]="{border:'0px'}" [value]="treeData" [filter]="true" selectionMode="checkbox"></p-tree>
            </p-scrollPanel>
          </p-panel>
        </div>
      </div>
      <div class="col-md-9">
        <form class="form-horizontal" [formGroup]="filterForm" #formDir="ngForm" (ngSubmit)="submit()">
          
            <div class="form-group">
              <label class="control-label col-md-3">{{'data.lblscentity'|translate}}</label>
              <div class="col-md-9">
                <p-chips id="entity" name="entities" [inputStyle]="{'width':'100%'}" formControlName="entities"></p-chips>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">{{'data.lblPartNumber'|translate}}</label>
              <div class="col-md-9">
                <input pInputText type="text" class="form-control" formControlName="partNumbers">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">{{'data.lblSoa'|translate}}</label>
              <div class="col-md-9">
                <input pInputText type="text" class="form-control" formControlName="soa">
              </div>
            </div>
          
          <div class="box-footer">
            <!-- <a (click)="back()" class="btn btn-default">{{loc.btnBack}}</a> -->
            <button type="submit" pButton label="{{'data.btnSave'|translate}}" class="pull-right"></button>
          </div>
        </form>
      </div>
    </div>
  </p-panel>
  <p-panel  header="Entities" [styleClass]="'panelStyle'">
    <div class="row box-body">
      <p-table #entityTable [columns]="columnList" [value]="entityList" [scrollable]="true" scrollHeight="50vh" [rows]="pageSize">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col}}
            </th>
          </tr>
          <tr>
            <th *ngFor="let col of columns"  >
                <input pInputText type="text" >
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
              {{rowData[col]}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

  </p-panel>
</div>